$notoragular:'NotoSerifBengali-Regular';
$notobold:'NotoSerifBengali-Bold';
$df:flex;
$fdcolumn:column;
$jcsb:space-between;
$jce:end;
$aic:center;
$fwn:normal;
$fwb:bold;
$tac:center;
$ttuc:uppercase;
$fs10:10px;
$bluecolor:#00354a;
$redcolor:#EE303B;
$blackcolor:#000;
$whitecolor:#fff;
$lightgray:#efebea;
$vlightgray:#f7f7f7a8;
$fw500:500;
$fw600:600;
$fw300:300;
$fw400:400;
$preletive:relative;
$pabsolute:absolute;
div { display: block  ; }
h1,h2,h3,h4,h5,h6,ul,li,form,section,figure,aside,body,article,p,ol{
  margin:0; padding:0
}
*, ::after, ::before {
  box-sizing: border-box;
}
.ofhidden{
  overflow: hidden;
}
.aic{
  align-items: $tac;
}
ul{
  list-style: none;
}
a{
color:#000;
text-decoration: none;
&:hover{
   color:#EE303B;
   text-decoration: none;
}
}
.taright{
  text-align: right;
}
.blackcolor{
  color:$blackcolor
}
.bluecolor{
  color:$bluecolor
}
.redcolor{
  color:$redcolor;
}
.whitecolor{
  color:$whitecolor;
}
.blackbg{
  background:$blackcolor
}
.bluebg{
  background:$bluecolor
}
.whitebg{
  background:$whitecolor;
}
.lightgraybg{
  background-color:$lightgray;
}
.vlightgraybg{
  background-color:$vlightgray;
}

.betellips{
	text-overflow:ellipsis;
	overflow:hidden; 
	display: -webkit-box; 
	-webkit-box-orient: vertical;
}
.betvl-1{-webkit-line-clamp:1}
.betvl-2{-webkit-line-clamp:2}
.betvl-3{-webkit-line-clamp: 3}
.betvl-4{-webkit-line-clamp:4}
.betvl-5{-webkit-line-clamp:5}
.betvl-6{-webkit-line-clamp:6}
.betvl-7{-webkit-line-clamp:7}
.betvl-9{-webkit-line-clamp:9}
.betvl-12{-webkit-line-clamp:12}
.ttuc{
  text-transform: $ttuc;
}
figure .vdobg {
  width: 32px;
  height: 32px;
}
.vdobg {
  width: 32px;
  height: 32px;
  border-radius: 0px 4px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.6);
}
figure .vdobg img {
  width: 20px;
  height: 20px;
  min-height: 20px !important;
  background-size: 18px;
}
.auadbox{
  background-color:#eeebea;
  padding:1px 0 15px;
}
.stickad {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 50px;
  left: 0;
  flex-direction: column;
}
.ad-90{
  height:116px;text-align: center;
}
.ad160-600{
  width: 160px;text-align: center;
}
.ad192{
  height:192px;text-align: center;
}
.ad970x250{
  height: 288px;
  text-align: center;
}
.ad970x280 {
  height: 306px;
  text-align: center;
}
.df{
  display: flex;
}
.fdcolumn{flex-direction: $fdcolumn;}
figure{
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  img{
      display: block;
  }
}
.mw-100 {
  max-width: 100%!important;
}
.w-100 { width: 100%; }
.tac{
  text-align: $tac;
}
.text-center {
  text-align: center!important;
}  
.container-fluid { 
  max-width:1296px;
  position: relative;
  z-index: 1;
  width:100%;
  margin:0 auto;
  padding-left:0;
  padding-right: 0;
  box-shadow: 0px 3px 6px #00000029;
  position: relative;
}
.container {
  max-width: 1136px; 
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;  
}
.fwn{
  font-weight: $fwn;
}
.fwb{
  font-weight: $fwb;
}
.adbox {background: #efebea;}
.adbox span {font-size: 11px;
  color: #979797;
  display: block; 
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}
.ad250 {
  height: 275px;
  text-align: center;  
}
.ad-200 { height: 200px;text-align: center; }
.ad300x250{
  height:276px;width: 300px;
  text-align: $tac;
}
.ad600{width: 300px;
  display:$df;
  text-align: $tac;
  justify-content: $tac;
}
.ad300x626{width: 300px;height: 626px;
  text-align: $tac;
}
.ad280{
  height:306px;
  text-align: $tac;
  align-items: $aic;
  justify-content: $tac;
}
.adtext{
  text-align: center;
  padding:0 0 1px 0;
  font-family: 'Lato-Regular';
  font-weight:$fwn;
  display: block;
  font-size:10px;
  text-transform: capitalize;
  color: #979797;
}
.fs-120{font-size: 120px;}
.fs-80{font-size: 80px;}
.fs-60{font-size: 60px;}
.fs-55{font-size: 55px;}
.fs-50{font-size: 50px;}
.fs-48{font-size: 48px;}
.fs-45{font-size: 45px;}
.fs-42{font-size: 42px;}
.fs-40{font-size: 40px;}
.fs-38{font-size: 38px;}
.fs-36{font-size: 36px;}
.fs-33{font-size: 33px;}
.fs-32{font-size: 32px;}
.fs-30{font-size: 30px;}
.fs-27{font-size: 27px;}
.fs-24{font-size: 24px;}
.fs-21{font-size: 21px;}
.fs-22{font-size: 22px;}
.fs-20{font-size: 20px;}
.fs-18{font-size: 18px;}
.fs-19{font-size: 19px;}
.fs-16{font-size: 16px;}
.fs-15{font-size: 15px;}
.fs-17{font-size: 17px;}
.fs-14{font-size: 14px;}
.fs-13{font-size: 13px;}
.fs-12{font-size: 12px;}
.lh-78{line-height: 78px;}
.lh-60{line-height: 60px;}
.lh-57{line-height: 57px;}
.lh-55{line-height: 55px;}
.lh-54{line-height: 54px;}
.lh-53{line-height: 53px;}
.lh-50{line-height: 50px;}
.lh-48{line-height: 48px;}
.lh-40{line-height: 40px;}
.lh-44{line-height: 44px;}
.lh-45{line-height: 45px;}
.lh-39{line-height: 39px;}
.lh-36{line-height: 36px;}
.lh-33{line-height: 33px;}
.lh-30{line-height: 30px;}
.lh-29{line-height: 29px;}
.lh-27{line-height: 27px;}
.lh-26{line-height: 26px;}
.lh-25{line-height: 25px;}
.lh-24{line-height: 24px;}
.lh-22{line-height: 22px;}
.lh-23{line-height: 23px;}
.lh-20{line-height: 20px;}
.lh-16{line-height: 16px;}
.lh-017{line-height: 1.7;}
.lh-1{
  line-height: 1.2;
}
.pt-8{padding-top: 8px;}
.pb-8{padding-bottom: 8px;}
.pt-16{padding-top: 16px;}
.pb-16{padding-bottom: 16px;}
.pt-30{padding-top: 30px;}
.pb-30{padding-bottom: 30px;}
.pt-25{padding-top: 25px;}
.pb-25{padding-bottom: 25px;}
.pt-20{padding-top: 20px;}
.pb-24{padding-bottom: 24px;}
.pt-24{padding-top: 24px;}
.pb-20{padding-bottom: 20px;}
.pt-15{padding-top: 15px;}
.pb-15{padding-bottom: 15px;}
.pt-16{padding-top: 16px;}
.pb-16{padding-bottom: 16px;}
.pt-10{padding-top: 10px;}
.pt-32{padding-top: 32px;}
.pb-32{padding-bottom: 32px;}
.pb-10{padding-bottom: 10px;}
.pl-10{padding-left: 10px}
.px-10{padding: 0 10px;}
.mt-4{margin-top:4px;}
.mb-4{margin-bottom:4px;}
.mb-8{margin-bottom:8px;}
.mt-8{margin-top:8px;}
.mb-8{margin-bottom:8px;}
.mt-10{margin-top:10px;}
.mb-10{margin-bottom:10px;}
.mt-20{margin-top: 20px;}
.mb-20{margin-bottom: 20px;}
.mt-25{margin-top: 25px;}
.mb-25{margin-bottom: 25px;}
.mt-30{margin-top: 30px;}
.mb-30{margin-bottom:30px;}
.mt-32{margin-top: 32px;}
.mb-32{margin-bottom: 32px;}
.mt-36{margin-top: 36px;}
.mb-36{margin-bottom: 36px;}
.mt-40{margin-top: 40px;}
.mb-40{margin-bottom:40px;}
.mt-16{margin-top: 16px;}
.mb-16{margin-bottom:16px;}
.mt-15{margin-top: 15px;}
.mb-15{margin-bottom:15px;}
.mt-24{margin-top: 24px;}
.mb-24{margin-bottom:24px;}
.mt-56{margin-top: 56px;}
.mb-56{margin-bottom:56px;}
.mt-120{margin-top: 120px;}
.mb-120{margin-bottom:120px;}
.prelative{
  position: relative;
}
.dfjsb{
  display: flex;
  justify-content: space-between;
}
.jce{justify-content: end;}
.sposortext{
  color:#A76B6E;
  font-size: 14px;
  font-weight:$fwn;
  font-style: italic;
  display: block;
  line-height: 12px;
}
.sponsorbtn{
  background: rgba(255,255,255,0.8);
  padding:3px 10px 2px;
  font-size: 14px;
  color:#000;
  position:absolute;
  top:8px;
  left:8px;
  z-index: 2;
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../fonts/NotoSerifBengali-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../fonts/NotoSerifBengali-Bold.ttf')  format('truetype')
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../fonts/NotoSerif-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('../fonts/Lato-BoldItalic.ttf')  format('truetype')
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../fonts/Lato-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../fonts/Lato-Bold.ttf')  format('truetype')
}
.notob-regular{
  font-family: "Noto Sans", sans-serif;
}
.notob-bold{
  font-family: "Noto Sans", sans-serif;
}
.noto-regular{
  font-family: "Noto Sans", sans-serif;
}
.lato-bolditalic{
  font-family: "Noto Sans", sans-serif;
}
.lato-regular{
  font-family: "Noto Sans", sans-serif;
}
.lato-bold{
  font-family: "Noto Sans", sans-serif;
}
body{font-family: "Noto Sans", sans-serif;
  color:#000;background: #efebea;
}
.text-advertisement {
  font-size: 10px;
  color: #595959;
  font-family: "Noto Sans",sans-serif;
}
.ausponsorbox{
  display: flex;
  .ausinnerbox{
    width:104px;
    height: 104px;
    border-radius: 4px;
    margin-left:10px;
    display: flex;
    justify-content: center;
    align-self: center;
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    img{
      align-self: center;
    }
  }
}
.autleft{
  max-width:943px;
  width:100%;
}
.auright{
  width:320px;background-color: #eeebea;
  .auadbox{
      padding-bottom: 0;
  }
}
.aupsticky{
  position: sticky;
  top:51px;
  left:0;
}
.ausheader-stky{
  position: sticky;
  top:0;
  left:0;
  z-index: 4;
}
.mbanner1266x200{
  width:1266px;
  height:200px;
  overflow: hidden;
  margin:0 auto;
}
.mbanner1266x230{
  width:1266px;
  height:230px;
  margin:0 auto;
  overflow: hidden;
}
.dfaicjc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fwwrap{flex-wrap: wrap;}
.adrighttopsticky { position: sticky;top: 0;right: 0;height: 100vh;background: #212121; }

.adouterbox{
  padding:16px 0;
}
.adbox {
  background: #212121;
  span {
    font-size: 11px;
    color:#979797;
    display: block;
    text-align: center;
    font-family: "Noto Sans",sans-serif;
}
}

.uk-position-relative {
    position: relative!important
}
.uk-position-absolute {
    position: absolute!important
}
.uk-position-fixed {
    position: fixed!important
}
.uk-position-sticky {
    position: sticky!important
}
.uk-position-z-index {
    z-index: 1
}