.secNav {
    border-bottom: 1px solid #e3e3e3;
}
.secheadtop {
    background-color: rgb(216, 122, 0);
    display: flex;
    justify-content: end;
    padding: 6px 0;
    .btnstopPostproperty {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: end;
        color: #fff;
        .btnsheadtop {
            ul{
                display: flex;
                list-style: none;
                gap: 36px;
            }
        }
        .postproperty {
            background-color: #fff;
            border-radius: 20px;
            padding: 4px 4px 4px 15px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            span{
                font-weight: 500;
            }
            .postfree {
                    background: #d50000;
                    color: #fff;
                    padding: 7px 10px 10px;
                    border-radius: 14px;
                    line-height: 12px;
            }
        }
    }
}
.asi-breadcrump {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 18px 0;
    background: #e1e1e1;
    ul {
        display: flex;
        gap: 10px;
        li{
            position: relative;
            &::after {
                position: absolute;
                content: '>';
                right: -10px;
                top: 0px;
                color: rgb(139, 139, 139);
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            a{
                color: rgb(139, 139, 139);
                padding: 10px 12px;
                &.active {
                    color: rgb(68, 68, 68);
                }
            }
        }
    }
}
.sec-loginpopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    .opacity-loginpopup {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000000a8;
    }
    .bx-popup {
        width: 500px;
        min-height: 400px;
        background-color: #fff;
        border-radius: 16px;
        position: relative;
        padding: 36px 24px 24px;
        position: relative;
        margin: 70px auto 0;
        .bigtitle {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 24px;
        }
        .titleDetails {
            font-size: 12px;
            font-weight: 600;
        }
        .title-popup {
            margin-bottom: 32px;
        }
    }
    .content-popup {
        width: 300px;
        margin: 0 auto;
    }
    .input-form-content {
        margin-bottom: 16px;
        input, button {
            width: 100%;
            padding: 16px 18px;
            background: #e9e9e9;
            border: 0;
            border-radius: 17px;
            &:focus-visible {
                outline: -webkit-focus-ring-color auto 0px;
            }
        }
        button {
            background: #ffcd43;
            color: #fff;
            font-size: 18px;
            padding: 12px 18px;
            margin-top: 16px;
        }
    }
    .account-confirm {
        margin-top: 44px;
        font-size: 14px;
        a {
            color: #000;
            font-weight: bold;
        }
    }
    .close-btn-popup {
        width: 28px;
        height: 28px;
        top: 8px;
        right: 12px;
        position: absolute;
        padding: 8px;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}
.btnlogin, .btnprime {
    cursor: pointer;
} 
.sec-RegisterPopup {
    display: none;
}
.sec-NearbyPopup .input-form-content {
    display: flex;
}
// 
nav {
    float: right;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #ffffff;
    color: #463f3f;
    text-decoration: none;
    /*
    The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
    */
  }
  nav ul li a:hover {
    background: #f2f2f2;
    color: #fb5958;
  }
  nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
  
  .nav-dropdown {
    position: absolute;
    z-index: 999;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
  }
  
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 70px;
    width: 70px;
  }
  
  @media only screen and (max-width: 800px) {
    .nav-mobile {
      display: block;
    }
  
    nav {
      width: 100%;
      padding: 70px 0 15px;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
    }
    nav ul li ul li a {
      padding-left: 30px;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #463f3f;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  
  @media screen and (min-width: 800px) {
    .nav-list {
      display: block !important;
    }
  }
  .navigation {
    height: 70px;
    background: #ffffff;
  }
  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .brand a,
  .brand a:visited {
    color: #463f3f;
    text-decoration: none;
  }